body {
  background-color: rgb(5, 1, 44);
}
.canvas {
  width: 500px;
  height: 600px;
  background-color: #051168;
  overflow: hidden;
  filter: blur(2px);
}

.frame {
  border: 5px solid rgb(211, 207, 233);
  width: 500px;
  padding: 50px;
  margin: 20px auto;
}

.one {
  width: 425px;
  height: 150px;
  background-color: #7b9dc5;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px #4264a8;
  border-radius: 9px;
  transform: rotate(-0.6deg);
}

.two {
  width: 475px;
  height: 200px;
  background-color: #3d77ad;
  margin: 0 auto 20px;
  box-shadow: 0 0 3px 3px #0d0286;
  border-radius: 8px 10px;
  transform: rotate(0.5deg);
}

.one,
.two {
  filter: blur(1px);
}

.three {
  width: 91%;
  height: 28%;
  background-color: #241ecc;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #0633bc;
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.6deg);
}
